{% extends "base.html" %}

{% block content %}
<div
    class="table-responsive"
>
    <table
        class="table table-primary"
    >
        <thead>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1>Gestion de docentes </h1>
                <button>Agregar docente</button>

            </div>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            
            {% for list in user_list %}
            <tr>
                <td>{{ list.nombres }} {{ list.apellidos }}</td>
                <td>{{ list.email }}</td>
                <td>
                    {% if list.activo %}
                        <span class="badge bg-success">Activo</span>
                    {% else %}
                        <span class="badge bg-danger">Inactivo</span>
                    {% endif %}
                </td>
                <td>
                    <button class="btn btn-sm btn-primary">Editar</button>
                    <button class="btn btn-sm btn-danger">Eliminar</button>
                </td>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

